<form name="configForm" novalidate >
    <div class="row">
        <!--<div class="input-field col s2">
            <input id="nagruzkaId" name="nagruzkaId" type="number" class="validate" ng-model="configRequest.nagruzkaId"/>
            <label for="nagruzkaId">Id навантаження</label>
        </div>-->

        <div class="input-field col s2">
            <input id="teacherId"  name="teacherId" type="number" ng-model="configRequest.teacherId"/>
            <label for="teacherId">Id викладaча</label>
        </div>

        <div class="input-field col s2">
            <input id="facultyId" name="facultyId" type="number" class="validate" ng-model="configRequest.facultyId" ng-blur="onBlur($event)"/>
            <label for="facultyId">Id факультету</label>
        </div>

        <div class="input-field col s2">
            <input id="courseName" name="courseName" type="text" class="validate" ng-model="configRequest.courseName" ng-blur="onBlur($event)"/>
            <label for="courseName">Назва предмету</label>
        </div>

        <div class="input-field col s2">
            <input id="kursId" name="kursId" type="number" class="validate" ng-model="configRequest.kursId" ng-blur="onBlur($event)"/>
            <label for="kursId">Номер курсу</label>
        </div>

        <div class="input-field col s2">
            <input id="semesterId" name="facultyId" type="number" class="validate" ng-model="configRequest.semesterId" ng-blur="onBlur($event)"/>
            <label for="semesterId">Id семестру</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2 offset-s5">
            <input id="yearId" name="facultyId" type="number" class="validate" ng-model="configRequest.yearId" ng-blur="onBlur($event)"/>
            <label for="yearId">Рік</label>
        </div>
    </div>

    <button class="btn waves-effect waves-light" ng-click="fetch()">Відправити запит</button>
</form>

<preloader></preloader>

<div class="row">
    <div class="col s12">
        <div class="gridStyle" ng-grid="gridOptions" ng-show="showTable"></div>
    </div>
</div>