<form name="configForm" novalidate >
    <div class="row">
        <div class="input-field col s4">
            <input id="cathedraId" name="cathedraId" type="number" class="validate" ng-model="configRequest.cathedraId"/>
            <label for="cathedraId">Id кафедри</label>
        </div>

        <div class="input-field col s4">
            <input id="facultyId"  name="facultyId" type="number" ng-model="configRequest.facultyId"/>
            <label for="facultyId">Id факультету</label>
        </div>

        <div class="input-field col s4">
            <input id="cathedraName" name="cathedraName" type="text" class="validate" ng-model="configRequest.cathedraName" ng-blur="onBlur($event)"/>
            <label for="cathedraName">Назва кафедри</label>
        </div>

    </div>

    <button class="btn waves-effect waves-light" ng-click="fetch()">Fetch me!!</button>
</form>

<preloader></preloader>

<div class="gridStyle" ng-grid="gridOptions" ng-show="showTable"></div>