header {
  background: map-get($grey, lighten-1);
  color: map-get($amber, darken-4);
  margin-left: 16.66667%;

  h3 {
    font-weight: 200;
    font-size: $h4-fontsize;
  }

  .content-header {
    padding-left: 25% !important;
  }
}