.menu {
  position: fixed;
  bottom: 0;
  height: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background: map-get($grey, lighten-4);

  .menu-logo {
    h1 {
      font-size: 2rem !important;
    }
  }

  .collection {
    border: none;
    margin-top: 0;

    &:last-child {
      border-bottom: 1px solid $collection-border-color;
    }

    a.collection-item {
      background: map-get($grey, lighten-4);
      color: black;
      cursor: pointer;

      &:hover {
        background: map-get($amber, darken-3);
        padding-left: 40px;
      }

      &.active {
        background: map-get($grey, lighten-2);
        color: map-get($amber, darken-4);

        &:hover {
          background: map-get($amber, darken-3);
          padding-left: 40px;
        }
      }
    }
  }

  &-logo {
    padding-left: 0.75rem;
    padding-bottom: ($h3-fontsize / 2.5);
    padding-top: ($h3-fontsize / 2);
    background: map-get($grey, lighten-1);
    color: map-get($amber, darken-4);

    h1 {
      font-size: $h3-fontsize;
      font-weight: 300;
      margin: 0;
      line-height: 1.1*$h3-fontsize;
    }
  }
}