<form name="configForm" novalidate >
    <div class="row">
        <div class="input-field col s3">
            <input id="semesterId" name="semesterId" type="number" class="validate" ng-model="configRequest.semesterId"/>
            <label for="semesterId">Id семестру</label>
        </div>

        <div class="input-field col s3">
            <input id="year"  name="year" type="number" ng-model="configRequest.year"/>
            <label for="year">Рік</label>
        </div>

        <div class="input-field col s3">
            <input id="semesterNumber" name="semesterNumber" type="number" class="validate" ng-model="configRequest.semesterNumber" ng-blur="onBlur($event)"/>
            <label for="semesterNumber">Номер семестру</label>
        </div>
    </div>

    <button class="btn waves-effect waves-light" ng-click="fetch()">Відправити запит</button>
</form>

<preloader></preloader>

<div class="gridStyle" ng-grid="gridOptions" ng-show="showTable"></div>